In [1]:
# import dependencies
import pandas as pd
import numpy as np
# read in csv file
data = pd.read_csv('../static/data/new_data_without_regions.csv')
# display first 10 rows of the dataframe
data.head()

,Country Name,Country Code,Series Name,Series Code,2003 [YR2003],2004 [YR2004],2005 [YR2005],2006 [YR2006],2007 [YR2007],2008 [YR2008],...,2013 [YR2013],2014 [YR2014],2015 [YR2015],2016 [YR2016],2017 [YR2017],2018 [YR2018],2019 [YR2019],2020 [YR2020],2021 [YR2021],2022 [YR2022]
0,Afghanistan,AFG,Agricultural land (% of land area),AG.LND.AGRI.ZS,58.0838047927878,58.1512656578201,58.134400441562,58.123668031216,58.129800837128,58.132867240084,...,58.123668031216,58.123668031216,58.123668031216,58.123668031216,58.123668031216,58.2769881790166,58.2769881790166,58.7415482268525,58.7415482268525,..
1,Afghanistan,AFG,"Agriculture, forestry, and fishing, value adde...",NV.AGR.TOTL.ZS,37.4188554431481,29.7210671376957,31.114854912062,28.6359685844686,30.1050113574013,24.8922700059742,...,22.8106627361766,22.1370413719574,20.6343227166798,25.7403140364582,26.4201990834448,22.0428967527575,25.7739707394105,29.9755825210461,33.5976188725451,..
2,Afghanistan,AFG,Current health expenditure (% of GDP),SH.XPD.CHEX.GD.ZS,8.94125843,9.80847359,9.94828892,10.62276554,9.90467453,10.25649548,...,8.80596447,9.52887821,10.10534763,11.81859016,12.62081718,14.20841891,14.8313194,15.53361392,16.82606226,..
3,Afghanistan,AFG,Military expenditure (% of GDP),MS.MIL.XPND.GD.ZS,..,2.43125378739118,1.99206569856085,1.89623399634252,2.56626735198569,2.335545701939,...,1.07694976762403,1.29801287790022,0.994575822723645,0.956772140958855,0.945226799939516,1.00674585570556,1.17096838242129,1.35885692738929,1.827933856217,..
4,Afghanistan,AFG,Military expenditure (current USD),MS.MIL.XPND.CD,..,125111557.457054,122727193.134874,131346231.269517,219580214.296198,240532594.620985,...,217194107.113298,268238787.719988,199517108.764826,185878310.062383,191407113.244397,198074728.574408,226306243.729258,279576954.925193,278250788.014927,..

In [47]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19101 entries, 0 to 19100
Data columns (total 14 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Country Name   19098 non-null  object
 1   Country Code   19096 non-null  object
 2   Series Name    19096 non-null  object
 3   Series Code    19096 non-null  object
 4   2013 [YR2013]  19096 non-null  object
 5   2014 [YR2014]  19096 non-null  object
 6   2015 [YR2015]  19096 non-null  object
 7   2016 [YR2016]  19096 non-null  object
 8   2017 [YR2017]  19096 non-null  object
 9   2018 [YR2018]  19096 non-null  object
 10  2019 [YR2019]  19096 non-null  object
 11  2020 [YR2020]  19096 non-null  object
 12  2021 [YR2021]  19096 non-null  object
 13  2022 [YR2022]  19096 non-null  object
dtypes: object(14)
memory usage: 2.0+ MB

In [2]:
data.isnull()
data.dropna()

,Country Name,Country Code,Series Name,Series Code,2003 [YR2003],2004 [YR2004],2005 [YR2005],2006 [YR2006],2007 [YR2007],2008 [YR2008],...,2013 [YR2013],2014 [YR2014],2015 [YR2015],2016 [YR2016],2017 [YR2017],2018 [YR2018],2019 [YR2019],2020 [YR2020],2021 [YR2021],2022 [YR2022]
0,Afghanistan,AFG,GDP per capita (current US$),NY.GDP.PCAP.CD,199.6432279,221.8305307,254.1152743,274.0153943,376.3182964,382.5338038,...,638.7331848,626.5129305,566.8811327,523.0530121,526.1408013,492.0906323,497.7414293,512.0550982,355.7778264,..
1,Afghanistan,AFG,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,8.832277813,1.414117981,11.22971482,5.357403251,13.82631955,3.924983822,...,5.600744658,2.724543364,1.45131466,2.260314201,2.647003202,1.189228128,3.911603419,-2.351100673,-20.73883937,..
2,Afghanistan,AFG,Population growth (annual %),SP.POP.GROW,7.541018965,3.933177688,3.576508004,4.139678035,1.793195727,2.002333262,...,3.466788304,3.657576065,3.121341229,2.581549399,2.866492148,2.885207973,2.908529093,3.134746908,2.851357654,2.534498317
3,Afghanistan,AFG,"Population, total",SP.POP.TOTL,22645130,23553551,24411191,25442944,25903301,26427199,...,31541209,32716210,33753499,34636207,35643418,36686784,37769499,38972230,40099462,41128771
4,Afghanistan,AFG,Current health expenditure per capita (current...,SH.XPD.CHEX.PC.CD,17.81492424,21.42946434,25.10707283,28.91982269,32.71720505,39.96989822,...,56.30554199,60.18957901,60.05854034,61.48645782,66.90921783,71.33431075,74.23410411,80.28805103,81.319762,..
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4251,Zimbabwe,ZWE,Exports of goods and services (% of GDP),NE.EXP.GNFS.ZS,32.39705909,34.46979901,33.54864819,35.95616853,37.7853733,41.46684872,...,21.98775864,20.93014592,19.16017579,19.94353155,19.6589048,26.16397313,27.55415643,22.29306297,22.77524072,27.95524577
4252,Zimbabwe,ZWE,Current health expenditure (% of GDP),SH.XPD.CHEX.GD.ZS,..,..,..,..,..,..,...,7.10940313,8.13227272,7.44982719,7.46644735,6.363585,4.67041826,3.65976548,3.42558146,..,..
4253,Zimbabwe,ZWE,"Stocks traded, total value (% of GDP)",CM.MKT.TRAD.GD.ZS,..,..,..,..,..,..,...,..,..,..,..,..,..,..,..,..,..
4254,Zimbabwe,ZWE,"Inflation, consumer prices (annual %)",FP.CPI.TOTL.ZG,..,..,..,..,..,..,...,1.634950415,-0.19778481,-2.430968424,-1.543669601,0.893962316,10.61886587,255.3049908,557.2018174,98.54610509,104.7051706
4255,Zimbabwe,ZWE,Consumer price index (2010 = 100),FP.CPI.TOTL,..,..,..,..,..,..,...,109.0752193,108.8594851,106.2131454,104.5735654,105.5084136,116.7122106,414.6843089,2725.312815,5411.002445,11076.60179

In [3]:
data.isnull()
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4261 entries, 0 to 4260
Data columns (total 24 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Country Name   4258 non-null   object
 1   Country Code   4256 non-null   object
 2   Series Name    4256 non-null   object
 3   Series Code    4256 non-null   object
 4   2003 [YR2003]  4256 non-null   object
 5   2004 [YR2004]  4256 non-null   object
 6   2005 [YR2005]  4256 non-null   object
 7   2006 [YR2006]  4256 non-null   object
 8   2007 [YR2007]  4256 non-null   object
 9   2008 [YR2008]  4256 non-null   object
 10  2009 [YR2009]  4256 non-null   object
 11  2010 [YR2010]  4256 non-null   object
 12  2011 [YR2011]  4256 non-null   object
 13  2012 [YR2012]  4256 non-null   object
 14  2013 [YR2013]  4256 non-null   object
 15  2014 [YR2014]  4256 non-null   object
 16  2015 [YR2015]  4256 non-null   object
 17  2016 [YR2016]  4256 non-null   object
 18  2017 [YR2017]  4256 non-null   object
 19  2018 [YR2018]  4256 non-null   object
 20  2019 [YR2019]  4256 non-null   object
 21  2020 [YR2020]  4256 non-null   object
 22  2021 [YR2021]  4256 non-null   object
 23  2022 [YR2022]  4256 non-null   object
dtypes: object(24)
memory usage: 799.1+ KB

In [4]:
data.describe()

,Country Name,Country Code,Series Name,Series Code,2003 [YR2003],2004 [YR2004],2005 [YR2005],2006 [YR2006],2007 [YR2007],2008 [YR2008],...,2013 [YR2013],2014 [YR2014],2015 [YR2015],2016 [YR2016],2017 [YR2017],2018 [YR2018],2019 [YR2019],2020 [YR2020],2021 [YR2021],2022 [YR2022]
count,4258,4256,4256,4256,4256,4256,4256,4256,4256,4256,...,4256,4256,4256,4256,4256,4256,4256,4256,4256,4256
unique,268,266,16,16,3173,3194,3234,3223,3237,3259,...,3287,3310,3257,3256,3250,3240,3238,3177,2637,2364
top,Afghanistan,AFG,GDP per capita (current US$),NY.GDP.PCAP.CD,..,..,..,..,..,..,...,..,..,..,..,..,..,..,..,..,..
freq,16,16,266,266,1009,987,949,965,956,932,...,907,883,934,937,948,958,957,1017,1558,1833

In [5]:
data.replace('..', np.nan, inplace=True)

In [6]:
data.dropna(inplace=True)

data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2233 entries, 2 to 4251
Data columns (total 24 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Country Name   2233 non-null   object
 1   Country Code   2233 non-null   object
 2   Series Name    2233 non-null   object
 3   Series Code    2233 non-null   object
 4   2003 [YR2003]  2233 non-null   object
 5   2004 [YR2004]  2233 non-null   object
 6   2005 [YR2005]  2233 non-null   object
 7   2006 [YR2006]  2233 non-null   object
 8   2007 [YR2007]  2233 non-null   object
 9   2008 [YR2008]  2233 non-null   object
 10  2009 [YR2009]  2233 non-null   object
 11  2010 [YR2010]  2233 non-null   object
 12  2011 [YR2011]  2233 non-null   object
 13  2012 [YR2012]  2233 non-null   object
 14  2013 [YR2013]  2233 non-null   object
 15  2014 [YR2014]  2233 non-null   object
 16  2015 [YR2015]  2233 non-null   object
 17  2016 [YR2016]  2233 non-null   object
 18  2017 [YR2017]  2233 non-null   object
 19  2018 [YR2018]  2233 non-null   object
 20  2019 [YR2019]  2233 non-null   object
 21  2020 [YR2020]  2233 non-null   object
 22  2021 [YR2021]  2233 non-null   object
 23  2022 [YR2022]  2233 non-null   object
dtypes: object(24)
memory usage: 436.1+ KB

In [7]:
data.to_csv("../static/data/new_cleaned_data.csv", index=False)

In [8]:
cleaned_df = pd.read_csv("../static/data/new_cleaned_data.csv")

In [9]:
cleaned_df.head()

,Country Name,Country Code,Series Name,Series Code,2003 [YR2003],2004 [YR2004],2005 [YR2005],2006 [YR2006],2007 [YR2007],2008 [YR2008],...,2013 [YR2013],2014 [YR2014],2015 [YR2015],2016 [YR2016],2017 [YR2017],2018 [YR2018],2019 [YR2019],2020 [YR2020],2021 [YR2021],2022 [YR2022]
0,Afghanistan,AFG,Population growth (annual %),SP.POP.GROW,7.541019e+00,3.933178e+00,3.576508e+00,4.139678e+00,1.793196e+00,2.002333e+00,...,3.466788e+00,3.657576e+00,3.121341e+00,2.581549e+00,2.866492e+00,2.885208e+00,2.908529e+00,3.134747e+00,2.851358e+00,2.534498e+00
1,Afghanistan,AFG,"Population, total",SP.POP.TOTL,2.264513e+07,2.355355e+07,2.441119e+07,2.544294e+07,2.590330e+07,2.642720e+07,...,3.154121e+07,3.271621e+07,3.375350e+07,3.463621e+07,3.564342e+07,3.668678e+07,3.776950e+07,3.897223e+07,4.009946e+07,4.112877e+07
2,Africa Eastern and Southern,AFE,GDP per capita (current US$),NY.GDP.PCAP.CD,8.181219e+02,9.911922e+02,1.126376e+03,1.232423e+03,1.376639e+03,1.435808e+03,...,1.736849e+03,1.725333e+03,1.554167e+03,1.444004e+03,1.625286e+03,1.558307e+03,1.507983e+03,1.355806e+03,1.545613e+03,1.644063e+03
3,Africa Eastern and Southern,AFE,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,3.106139e+00,5.525631e+00,6.131579e+00,6.575816e+00,6.598625e+00,4.329092e+00,...,4.216607e+00,4.007577e+00,2.965062e+00,2.219015e+00,2.571941e+00,2.491355e+00,2.040617e+00,-2.799038e+00,4.300441e+00,3.435138e+00
4,Africa Eastern and Southern,AFE,Population growth (annual %),SP.POP.GROW,2.617764e+00,2.644968e+00,2.666242e+00,2.702521e+00,2.747109e+00,2.765816e+00,...,2.780207e+00,2.774990e+00,2.802586e+00,2.728159e+00,2.655672e+00,2.688371e+00,2.691134e+00,2.678184e+00,2.607472e+00,2.543757e+00

In [10]:
# Convert columns with years to numeric
year_columns = cleaned_df.columns[4:]
cleaned_df[year_columns] = cleaned_df[year_columns].apply(pd.to_numeric, errors='coerce')
# Melt the DataFrame
melted_data = pd.melt(cleaned_df, id_vars=['Country Name', 'Country Code', 'Series Name', 'Series Code'], var_name='Year', value_name='Value')
# Extract only the year from the "Year" column
melted_data['Year'] = melted_data['Year'].str.extract('(\d+)')
# Convert the "Year" column to numeric type
melted_data['Year'] = pd.to_numeric(melted_data['Year'], errors='coerce')
# Replace spaces in column names with underscores
melted_data.columns = melted_data.columns.str.replace(' ', '_')
# Display the melted DataFrame
print(melted_data.head())

                  Country_Name Country_Code                   Series_Name  \
0                  Afghanistan          AFG  Population growth (annual %)
1                  Afghanistan          AFG             Population, total
2  Africa Eastern and Southern          AFE  GDP per capita (current US$)
3  Africa Eastern and Southern          AFE         GDP growth (annual %)
4  Africa Eastern and Southern          AFE  Population growth (annual %)

         Series_Code  Year         Value
0        SP.POP.GROW  2003  7.541019e+00
1        SP.POP.TOTL  2003  2.264513e+07
2     NY.GDP.PCAP.CD  2003  8.181219e+02
3  NY.GDP.MKTP.KD.ZG  2003  3.106139e+00
4        SP.POP.GROW  2003  2.617764e+00

In [11]:
melted_data.head()

,Country_Name,Country_Code,Series_Name,Series_Code,Year,Value
0,Afghanistan,AFG,Population growth (annual %),SP.POP.GROW,2003,7.541019e+00
1,Afghanistan,AFG,"Population, total",SP.POP.TOTL,2003,2.264513e+07
2,Africa Eastern and Southern,AFE,GDP per capita (current US$),NY.GDP.PCAP.CD,2003,8.181219e+02
3,Africa Eastern and Southern,AFE,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,2003,3.106139e+00
4,Africa Eastern and Southern,AFE,Population growth (annual %),SP.POP.GROW,2003,2.617764e+00

In [12]:
melted_data.to_csv('../static/data/new_final_data.csv', index=False)